@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

@font-face {
	font-family: 'Cafe24Dangdanghae';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* pc 서식 */


@media screen and (min-width:1024px) {
	.gnb, .c_gnb {
		position: relative;
		top: 50px;
		margin: 0px auto;
		text-align: center;
		display: flex;
		background-color: #fff;
		border-bottom: 1px solid #ccc;
	
		height: 50px;
		overflow: hidden;
		transition: 1s;
	}
	
	header:hover .gnb,
	header:hover .c_gnb {
		height: 300px;
	}
}


/* 헤더 */


/*	토글버튼 숨기기*/

* {
	padding: 0px;
	margin: 0px auto;
	box-sizing: border-box;
}

#body {
	margin: 0px auto;
}


/* 헤더 */
header, #n_inner, .menu{width: 100%;}
header {

	height: 100px;
	background-color: #ffffff;
}
#lnb_icon{display: none;}

#n_inner {	
	height: 50px;
	background-color: #1f2533;
}

#nav .menu{
	display: flex;
	justify-content: space-between;
}

#nav .menu > .sns_sub{display: none;} /* 모바일 sns  숨김*/

.gnb {
	width: 40%;
	z-index: 999;
}


.gnb>li {
	width: 33.4%;
	margin: 0px auto;
	z-index: 999;
}

.gnb>li i{display: none;}

.gnb>li a,
.c_gnb>li a {
	display: block;
	color: #374055;
	font-size: 16px;
	line-height: 50px;
}

.sub {
	position: relative;
	z-index: 999;
	width: 100%;
	height: 280px;
	background-color: rgba(55, 64, 85, 0.9);
	border-bottom: 1px solid #ccc;
}

.gnb>li a:hover {
	background-color: rgba(255, 255, 255, 0.96);
	color: #374055;
}




.gnb>li sub:hover {
	background-color: rgba(55, 64, 85, 0.93);
}

.sub>li {
	padding: 10px;
}

.sub>li>a {
	color: #fff;
	line-height: 40px;
	font-size: 14px;
}


/* 내비 가운데*/

.c_gnb {
	width: 20%;
	display: flex;
	flex-direction: column;
}

.c_gnb .sub {
	display: flex;
	justify-content: center;
}

.c_gnb .sub>li {
	padding-top: 50px;
	width: 25%;
	text-align: center;
}

.c_gnb .sub>li img {
	width: 100%;
}

.c_gnb>li .sub {
	background: #374055;
}

.c_gnb>li .sub>li>a {
	display: block;
	padding-top: 80px;
	font-size: 30px;
	line-height: 50px;
	color: #fff;
}

#n_inner>#logo>h1 {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

#n_inner>#logo>h1 img {
	width: 100%;
}


/* 공통 */
.wrap{overflow-x: hidden;}
article h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: #405163;
	font-family: 'Noto Serif KR', serif, arial;
	font-weight: bold;
	padding: 20px;
}

article {
	width: 1200px;
	margin: 100px auto;
}


/* 메인 */

.slider {
	position: relative;
	z-index: 1;
	top: -100px;
	width: 100%;
	height: 85vh;
	pointer-events: none;
}

.slider .swiper-slide {
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.slider .swiper-slide>h2 {
	text-align: center;
	font-size: 28px;
	line-height: 60px;
	font-weight: bold;
	display: inline-block;
	padding: 20px 40px;
}

.bg1 {
	background-image: url(../images/main__.jpg);
}

.bg1>h2 {
	margin-top: 260px;
	color: #fff;
	/*   text-shadow: 1px 1px #efefef;*/
}

.bg3>h2 {
	margin-top: 200px;
	color: #fff;
}

.bg2>h2
 {
		/* border: 2px solid #e3dbca;
        background-color: rgba(42, 42, 42, 0.77);
        background-color: rgba(255, 255, 255, 0.22);
        color: #e3dbca;
        font-size: 14px; */
        margin-top: 200px;
	text-indent: 100000px;
}

.bg2 {
	background-image: url(../images/main000.png);
}

.bg3 {
	background-image: url(../images/main04.jpg);
}

/* .bg4 {
	background-image: url(../images/main_1.jpg);
} */


/* 브랜드 */

#brand {
	margin-top: -20px;
	width: 100%;
	width: 1200px;
}

/* #brand article {

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	justify-content: center;
	grid-column-gap: 60px;
	grid-row-gap: 80px;
} */

#brand h1 {
	width: 1200px;
	margin: 0px auto;
	font-family: 'Oranienbaum', 'Times New Roman', serif;
	text-transform: uppercase;
	border-bottom: 5px double #1F2533;
	margin-bottom: 80px;
	padding-bottom: 30px;
	font-size: 70px;
	text-align: center;
	color: #1F2533;
}

#brand > .brand01,
#brand > .brand02{display: flex;}

#brand > .brand01{justify-content: flex-start;}

#brand > .brand01 li:nth-child(2){padding-left: 40px;}
#brand > .brand02{justify-content: space-between;}

#brand li {
	margin-top: 30px;
}

#brand li img {
	width: 100%;
}

#brand li h2 {
	font-family: 'Noto Serif KR', serif, arial;
	font-size: 1.6rem;
	line-height: 40px;
	text-align: left;
	padding: 30px 0px;
	font-weight: bold;
}

#brand li h3 {
	font-family:'Noto Serif KR', serif, arial;
	color: #ff9d00;
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 30px;
}

#brand li p {
	font-family: 'Noto Serif KR', serif, arial;
	font-size: 20px;
	line-height: 40px;
}


/* 공간 소개 */

#space {
	width: 100%;
	background-color: rgba(31, 37, 51, 0.93);
	text-align: center;
	padding: 80px 0px;
	z-index: 10;
	margin: 100px auto;
}

#space>div {
	width: 100%;
}

#space>div>img {
	width: 30%;
	display: inline-block;
}

#space h2 {
	padding: 40px 0px 30px;
}

#space .yellow {
	color: #ffcc66;
}

#space h6 {
	font-size: 20px;
	color: #eeeeee;
	padding: 12px;
}


/* 공간 그리드 */

.s_wrap {
	display: grid;
	width: 1200px;
	margin: 100px auto;
	grid-template-columns: 32% 32% 32%;
	justify-content: space-between;
	grid-gap: 1%;
	box-sizing: border-box;
}

.tablet_room {
	display: none;
}

.s_box {
	border: 1px solid #ccc;
	background-color: #EEEBE4;
	border-radius: 10px;
	padding: 20% 5%;
	cursor: pointer;
	box-sizing: border-box;
	transition: .5s;
}

.shadows {
    -webkit-box-shadow: 0 -1px 0 #777 inset, 0 5px 15px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 -1px 0 #777 inset, 0 5px 15px rgba(0, 0, 0, 0.5); 
    -ms-box-shadow: 0 -1px 0 #777 inset, 0 5px 15px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 -1px 0 #777 inset, 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1px 0 #777 inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

.border {
	font-family: 'Cafe24Dangdanghae', 'Noto Serif KR', '맑은 고딕', arial;
	font-size: 18px;
	display: inline-block;
	padding: 2px 20px;
	margin-top: 10%;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.836);
	color: #726c5e;
	border: 1px solid #726c5e;
	/* background-color: #bcb19b;
	color: #fff;*/
} 

.s_box:hover {
	background-color: rgb(250, 247, 238);
	transform: translateY(-20px);

	background-color: #fff;
}

.s_box:hover .item_t p:last-child {
	color: #fff;
	border-radius: 4px;
	background-color: #8ca7af;
	border:none;
	}



.p_box {
	display: flex;
}

.p_box img {
	height: 203.7px;
}

.item_t {
	margin-bottom: 20px;
}

.item_t>h2 {
	font-size: 1.3rem;
	color: #405163;
}


.item_t p {
	font-size: 1rem;
	line-height: 30px;	
}

.item_t p:last-child {
	display: inline-block;
	margin-top: 40px;
	padding: 4px 20px;
	color: #707070;
	border: 1px solid #314558;
	background-color: rgba(255, 255, 255, 0.836);
	font-weight: 400;
}

.item_p {
	position: relative;
}



/* 슬라이드 이미지 방향 페이지 */

.item_p i.fas {
	font-size: 50px;
	position: absolute;
	top: 80px;
	color: rgba(255, 255, 255, 0.54);
}

.item_p i.fa-angle-left {
	left: 3px;
}

.item_p i.fa-angle-right {
	right: 3px;
}

.item_p #page01,
.item_p #page02,
.item_p #page03 {
	background-color: #847960;
	padding: 4px 10px;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 20px;
	right: 20px;
	letter-spacing: 2px;
	text-align: center;
}

.item_p img {
	width: 100%;
	border-radius: 6px;
}

.p_box li:first-child img {
	border-radius: 6px 0px 0px 6px;
}

.p_box li:nth-child(2) img {
	border-radius: 0px 6px 6px 0px;
}


/* 카페 */

#cafe {
	width: 1200px;
	margin: 100px auto;
}

#cafe h2 {
	font-family: 'S-CoreDream-3Light', serif, arial;
	font-weight: lighter;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	padding: 20px;
}

.c_grid {
	margin-top: 50px;
	padding: 40px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 15px;
	font-family: 'Noto Serif KR', serif, arial;
	box-sizing: border-box;
	grid-template-areas: "left01 right01" "left01 right02";
}

.c_grid .c_item:first-of-type {
	grid-area: left01;
}

.c_grid .c_item:last-of-type {
	grid-area: right01;
}

.c_grid .fig {
	grid-area: right02;
}

.cafe .ani {
	width: 100%;
	background-image: url(../images/sz_30.png);
	/*        background-size: 100%*/
	background-repeat: no-repeat;
	background-position: center;
	animation-name: ani01;
	/*애니메이션 이름 설정*/
	animation-duration: 12s;
	/*애니메이션 시간 설정*/
	animation-iteration-count: infinite;
	/*애니메이션 반복 횟수*/
	background-size: auto;
}

.ani a>h2 {
	display: none;
}


/*애니메이션 내용 작성*/

@keyframes ani01 {
	0% {
		background-image: url(../images/cafe01.jpg);
	}
	35% {
		background-image: url(../images/cafe02.jpg);
	}
	65% {
		background-image: url(../images/cafe03.jpg);
	}
	100% {
		background-image: url(../images/cafe01.jpg);
	}
}


/* }}}}}}}}지우지마!!!!!!!!*/

.cafe div {
	border-radius: 10px;
	text-align: center;
}

.c_grid>h2 {
	display: none;
}

.c_item>h2 {
	display: block;
	font-family: 'Cafe24Dangdanghae', 'Noto Serif KR', arial !important;
	font-weight: lighter;
	padding: 60px;
}

.cafe p {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	margin-bottom: 100px;
	margin-top: 40px;
}

.cafe .fig {
	display: flex;
	justify-content: center;
	align-content: center;
}

.cafe figure {
	position: relative;
	text-align: center;
	overflow: hidden;
	transition: .5s;
	width: 100%;
	bottom: -20px;
}

.cafe figure:nth-child(2) {
	margin: 0px 5%;
}

.cafe figure img {
	width: 100%;
	transition: .5s;
	border-radius: 13px;
}

.cafe figure:hover img {
	transform: scale(1.2);
	border-radius: 13px;
}

.cafe figcaption {
	font-family: 'Cafe24Dangdanghae', 'Noto Serif KR', arial;
	width: 100%;
	font-size: 20px;
	height: 40PX;
	line-height: 40PX;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(49, 69, 88, 0.88);
	border-top: 3px solid rgba(201, 189, 166, 0.88);
	border-bottom: 3px solid rgba(201, 189, 166, 0.88);
}

figcaption {
	position: absolute;
	width: 100%;
	color: #ffffff;
	transition: 0.3s;
}

figure:hover figcaption {
	bottom: 40%;
}





/* 서비스 아이콘*//* 아이패드 중복 그리드 서식 :맨 아래 */


#icon {
	width: 90%;
	margin: 120px auto;
}

#icon h2 {
	padding: 20px;
}

#icon ul>li {
	border: 1px solid #c3c3c3;
	border-radius: 14px;
	text-align: left;
	height: 80px;
	padding-left: 35%;
	/*이미지 우측 텍스트 여백*/
	position: relative;
	box-sizing: border-box;
}


#icon #i_grid .i_item img {
	width: 100px;
	position: absolute;
	bottom: 8px;
	left: 5%;
	background-color: #fff;
}

#icon ul>li h3 {
	font-family: 'S-CoreDream-3Light', '맑은 고딕', sans-serif;
	font-size: 18px;
	padding: 18px 0px 10px 0px;
}

#icon ul>li p {
	font-size: 14px;
}


#icon a {
	text-decoration: none;
}


/* 스터디카페독서실 */
#family {
	width: 1200px;
	margin: 0px auto;
	padding-top: 20px;
}

/* 시작 리본*/
#family .ribbon {
	font-weight: lighter;
	padding: 20px;
	position: relative;
	width: 80%;
	margin: 70px auto !important;
	text-align: center;
	line-height: 30px;
	font-family: 'Cafe24Dangdanghae', 'Noto Serif KR', arial;
	background-color: #314558;
	border-top: 6px solid #ffcc66;
	border-bottom: 6px solid #ffcc66;
	border-radius: 5px;
	color: #fff;
	font-size: 30px !important;
}
.ribbon:after,
.ribbon:before {
	position: absolute;
	content: "";
	display: inline-block;
	border: 36px solid #314558;
	top: 20px;
	z-index: -2;
}
.ribbon:before {
	left: -40px;
	border-left-color: transparent;
}
.ribbon:after {
	right: -40px;
	border-right-color: transparent;
}
#family ul {
	display: flex;
	justify-content: space-between;
}
#family ul>li {
	width: 50%;
}
#family ul>li img {
	width: 100%;
}

/*#family ul > li:first-child img:hover{background-image: url(../images/hober01.jpg);}*/


/* 가맹안내 배너*/
#banner {
	width: 1200px;
	margin: 0px auto;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}
#banner img {
	width: 100%;
	transition: .6s;
}
#banner:hover img {
	transform: scale(1.2);
}
#banner h3 a {
	width: 1200px;
	margin: 0px auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	top: 50%;
	text-align: center;
	color: #ebe7dd;
	z-index: 2000;
	font-family: 'Cafe24Dangdanghae', 'Noto Serif KR', serif, arial;
	font-weight: lighter;
	text-decoration: none;
}

/* 퀵메뉴*/
aside {
	position: fixed;
	bottom: 33%;
	right: 0px;
}
aside ul {
	display: flex;
	flex-direction: column;
}
aside ul>li {
	width: 130px;
	background-color: #fff;
	border: 1px solid #a79f8c;
	border-bottom: none;
	z-index: 300;
}
aside img {
	width: 100%;
}
aside .sns {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
aside .sns li {
	background-color: #a79f8c;
	border: none;
}
aside i.fas {
	font-size: 35px;
	background-color: #a79f8c;
	color: #fff;
	padding: 6px 10px;
	position: absolute;
	top: 0px;
	right: 132px;
}

/*     푸터    */
footer {
	z-index: 100;
	background-color: #1F2533;
	color: #fff;
	text-align: center;
	padding: 20px;
}
footer img {
	width: 100px;
	margin-bottom: 30px;
}
footer nav ul {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
footer nav ul li {
	padding: 0px 20px;
	border-right: 1px solid #fff;
}
footer nav ul li:last-child {
	border-right: none;
}
footer nav ul li a {
	color: #fff;
	font-weight: bold;
}
footer address {
	width: 100%;
}


/* min-width:927px~ 아이콘 서식 맨 아래 */

@media screen and (min-width:768px) {

#icon ul {
	display: grid;
	justify-content: center;
	grid-template-columns: 47% 47%;
	grid-template-rows: auto auto auto;
	grid-row-gap: 70px;
	grid-column-gap: 2%;
	align-content: flex-start;
	padding-top: 80px;
	box-sizing: border-box;
}


}

/*}*/